#color100
{color:purple;}
.colorclass100
{color:cyan;}
#color200
{color:purple;}
h1{
color:red;
text-align:center;}
h2{color:blue;
text-align:right;}
h3{color:magenta;
text-align:left;}
.colorclass200
{color:gold;}
#foo
{color:red;}
div{color:blue;}